{% extends 'accounts/dashboard.html' %}

{% block title %}Dashboard - YCLI{% endblock %}
{% block dashboard_content %}
{% load static %}

<div class="container">
    

	<div class="container">

		<h5 class="mt-4"></h5>
		    <ol class="breadcrumb mb-4">
		        <li class="breadcrumb-item active"><a href="{% url 'my_dashboard_view' %}" style="text-decoration: none;">Dashboard</a> /&nbsp;Home</li>
		    </ol>
	    <div class="row">

	    	<div class="col-xl-3 col-md-6">
	            <div class="card bg-warning text-white mb-4">
	                <div class="card-body">Dashboard<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'my_dashboard_view' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>

	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-primary text-white mb-4">
	                <div class="card-body"> My Applications <span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'my_applications_view' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-success text-white mb-4">
	                <div class="card-body">Chat Room<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'chat_index' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-danger text-white mb-4">
	                <div class="card-body">Raise Issue<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'raise_issue' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        

	    </div>
	</div>
	<br>
	<div class="container">
		<ol class="breadcrumb mb-4">
	        <li class="breadcrumb-item active">We can generate reports as advised like this in the future</li>
	    </ol>
		<div class="card mb-4">
		</div>
		<!-- <div class="card mb-4">
		    <div class="card-header">
		        <i class="fas fa-chart-area mr-1"></i>
		        Area Chart Example
		    </div>
		    <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
		    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		</div> -->
		<div class="row">
		    <div class="col-lg-6">
		        <div class="card mb-4">
		            <div class="card-header">
		                <i class="fas fa-chart-bar mr-1"></i>
		                Bar Chart Example
		            </div>
		            <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
		            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		        </div>
		    </div>
		    <div class="col-lg-6">
		        <div class="card mb-4">
		            <div class="card-header">
		                <i class="fas fa-chart-pie mr-1"></i>
		                Pie Chart Example
		            </div>
		            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
		            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		        </div>
		    </div>
		</div>	
	</div>

</div>

{% endblock %}