{% extends 'accounts/dashboard.html' %}

{% block title %}Dashboard - YCLI{% endblock %}
{% block dashboard_content %}
{% load static %}

<div class="container-fluid">
    <h5 class="mt-4"></h5>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

	<div class="container">
	    <div class="row">

	    	<div class="col-xl-3 col-md-6">
	            <div class="card bg-warning text-white mb-4">
	                <div class="card-body">Dashboard<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'my_dashboard_view' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>

	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-primary text-white mb-4">
	                <div class="card-body"> My Applications <span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'my_applications_view' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-success text-white mb-4">
	                <div class="card-body">Chat Room<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'chat_index' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xl-3 col-md-6">
	            <div class="card bg-danger text-white mb-4">
	                <div class="card-body">Raise Issue<span class="float-right" style="font-weight: 700; font-size: ; padding-right: 20px;"></span></div>
	                <div class="card-footer d-flex align-items-center justify-content-between">
	                    <a class="small text-white stretched-link" href="{% url 'raise_issue' %}">View Details</a>
	                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                </div>
	            </div>
	        </div>
	        

	    </div>
	</div>

</div>

{% endblock %}