{% extends 'accounts/dashboard.html' %}

{% block title %}My Applications{% endblock %}
{% block dashboard_content %}
{% load static %}



<div class="container">
<div style="height: 8px;"></div>
<h5 class="mt-4"></h5>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url 'my_dashboard_view' %}" style="text-decoration: none;">Dashboard</a>&nbsp; / My Applications</li>
    </ol>

    <div class="card mb-4">
        <!-- <div class="card-header">
            <i class="fas fa-table mr-1"></i>
           My Applications
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Program Title</th>
                            <th>Location</th>
                            <th>Date from</th>
                            <th>Date to</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Program Title</th>
                            <th>Location</th>
                            <th>Date from</th>
                            <th>Date to</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for application in request.user.applications.all %}
                        <tr>
                            <td>
                                {{ application.program.title }}
                            </td>
                            <td>
                                {{ application.program.location }}
                            </td>
                            <td>
                                {{ application.program.date_from }}
                            </td>
                            <td>
                                {{ application.program.date_to }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}