{% extends 'base.html' %}

{% block title %}Apply for Program{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli.jpg' %}');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 250px;">
    <h4 style="padding-top: 165px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">Apply for Program</h4>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>


<!-- page starts -->
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Apply For Grant</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Apply</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <div class="container-fluid">
          <div class="row">

            <div class="container">
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row">

        <div class="col-md-5">
          
        </div>

        
        <div class="col-md-7">

          <h6 style="color: #000;">Fill the form below to apply.</h6>

          <hr>


            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <table border="1">
                {{ form }}
              </table>
              <button type="submit">Submit</button>
            </form>



            <!-- <form method="post">

                {% csrf_token %}


                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Content</label>

                      <textarea type="text" class="form-control" aria-describedby="emailHelp" rows="4" cols="55" name="content" placeholder="Content" required></textarea>

                  </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Experience</label>

                      <textarea type="text" class="form-control" aria-describedby="emailHelp" rows="4" cols="55" name="experience" placeholder="Experience" required></textarea>
                  </div>
                  </div>
                </div>

                

              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Submit Application</button>
              </div>

            </form> -->
        </div>
    </div>
    </div>

          </div>
        </div>

{% endblock %}
<!-- start -->

