{% extends 'base.html' %}

{% block title %}Programs{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli.jpg' %}');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 250px;">
    <h4 style="padding-top: 165px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">OUR PROGRAMS</h4>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>


<div class="container" style="text-align: center; padding-top: 70px; padding-bottom: 50px;">
    <div class="row">
        {% for program in programs %}
        <div class="col-md-4 border-dark">
            <div class="card mb-4" style="border: 1px solid #154360;">
                <img style="width: 100%; height: 220px;" src="{{ program.photo.url }}" alt="">
                <div class="card-body">
                   <p class="card-title"><a style="font-size: 17px; font-weight: 600" href="{% url 'program_detail' program.pk%}">{{ program.title }}</a></p><hr>

                    <p style="font-size: 18px;">

                      <a href="{% url 'program_category' program.categories %}">
                            {{ program.categories }}
                    </a>
                      
                    </p>
                   
                   <table class="table table-sm table-borderless" style="text-align: left; font-size: 13px;">
                      <tbody>
                        <tr>
                          <th scope="row">Location</th>
                          <td  style="">{{ program.location }}</td>
                        </tr>

                        <tr>
                          <th scope="row">From</th>
                          <td  style="">{{ program.date_from }}</td>
                        </tr>

                        <tr>
                          <th scope="row">To</th>
                          <td  style="">{{ program.date_to }}</td>
                        </tr>

                      </tbody>
                    </table>

                    <div style="text-align: center;">
                        <a href="{% url 'program_detail' program.pk%}"><button type="button" class="btn btn-outline-primary btn-sm btn-block">Program Details <i class="fa fa-hand-o-right"></i></button></a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>






{% endblock %}

