{% extends 'base.html' %}

{% block title %}Programs{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli.jpg' %}');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 250px;">
    <h4 style="padding-top: 147px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">YCLI PROGRAMS</h4>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>


<!-- page starts -->
        <!-- slider Area Start-->
        <!-- <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Programs</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Programs</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- slider Area End-->
        <div class="container-fluid">


                  <!-- Services Area Start -->
        <div class="services-area1 section-padding30">
            <div class="container">
                <!-- section tittle -->
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2 class="">Our Programs</h2>
                            </div>
                            <span class="back-text">Programs</span>
                        </div>
                    </div>
                </div> -->

                <div class="row">

                  {% for program in programs %}

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img style="width: 100%; height: 250px;" src="{{ program.photo.url }}" alt="{{ image.title }}">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'program_detail' program.pk%}">{{ program.title }}</a></h4>
                                <a href="{% url 'program_detail' program.pk%}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="assets/img/icon/services_icon1.png" alt="">
                            </div>
                        </div>
                    </div>

                  {% endfor %}
                    
                </div>

            </div>
        </div>
        <!-- Services Area End -->
  
      </div>

{% endblock %}