{% extends 'accounts/dashboard.html' %}

{% block title %}All Issues Raised{% endblock %}
{% block dashboard_content %}
{% load static %}

<div class="container-fluid">
    <h5 class="mt-4">Dashboard</h5>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Hello {{ request.user | title }}, you have applied for the following programs</li>
    </ol>

    <div class="container">

        <div class="col-md-8 offset-md-2">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Raise issue</button>
            </form>
        </div>

    </div>
    
</div>

{% endblock %}