{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli.jpg' %}');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 250px;">
    <h4 style="padding-top: 147px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">WHO WE ARE</h4>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>


<!-- page starts -->


<div class="container">

    <section class="about-us py-5 " id="about-us">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1 class='text-success'>Welcome!</h1>
                    <h2>Know More About Us</h2>
                    <hr>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="btn btn-success">Let's Know More</button>

                </div>
                <div class="col-md-6">
                    <div>
                        <img style="" src="{% static 'images/ycli.jpg' %}" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
</div>

{% endblock %}