{% extends 'base.html' %}

{% block title %}YCLI | About Us{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli.jpg' %}');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 250px;">
    <h4 style="padding-top: 165px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">WHO WE ARE</h4>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>


<!-- page starts -->


<div class="">

    <!-- background starts -->
    <!-- <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">OUR BACKGROUND</h4>
                        <div style="height: 4px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            Young Continental Leadership Institute seeks to build power in communities that have traditionally been marginalized. Policy advocacy considers that the commitment to the beliefs and actions that support youth leadership and youth voice often times requires advocacy for community-level changes.
                        </p>
                        <p>
                            Policy Advocacy shifts power, providing community with the opportunity to change their conditions. When youth and their adult allies are viewed as agents of change and as stakeholders in their communities and also provided with opportunities to lead community change efforts, youth and adult voices are valued in the community and present at decision-making tables. 67% of our youth are low income. We believe that to shift policies and build equitable communities, these voices must be heard.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 360px;" src="{% static 'images/ycli.jpg' %}" alt="Paris" class="center">
                </div>
            </div>
        </div>
    </div> -->
    <!-- background ends -->


    <!-- preface one starts -->
    <div class="" style="background-color: ; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">OUR PREFACE</h4>
                        <div style="height: 4px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            It is argued that increased investment in youth development yields greater economic growth and social wellbeing for generations to come. Missed investments in young people’s intellectual and human potential are a missed opportunity for generations and also costly to reverse, both for youth and for society. 
                        </p>
                        <p>
                             In order to achieve the positive outcomes in the areas of education, employment, health and citizenship, to fight poverty among the youth, a holistic approach to youth development has become an urgent matter that should focus, not only on young people themselves, but also on all the related factors that help them get access to opportunities
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 360px;" src="{% static 'images/ycli.jpg' %}" alt="Paris" class="center">
                </div>
            </div>
        </div>
    </div>
    <!-- preface one ends -->

    <!-- preface two starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 360px;" src="{% static 'images/ycli.jpg' %}" alt="Paris" class="center">
                </div>
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">OUR PREFACE</h4>
                        <div style="height: 4px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            Young Continental Leadership Institute seeks to build power in communities that have traditionally been marginalized. Policy advocacy considers that the commitment to the beliefs and actions that support youth leadership and youth voice often times requires advocacy for community-level changes. Policy Advocacy shifts power, providing community with the opportunity to change their conditions.
                        </p>
                        <p>
                             When youth and their adult allies are viewed as agents of change and as stakeholders in their communities and also provided with opportunities to lead community change efforts, youth and adult voices are valued in the community and present at decision-making tables. 67% of our youth are low income. We believe that to shift policies and build equitable communities, these voices must be heard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preface two ends -->



    <!-- mission starts -->
    <div class="" style="background-color: ; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">OUR MISSION</h4>
                        <div style="height: 4px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            YCLI builds communities where young people and their adult allies come together to create positive social change. YCLI designs and implements community-based programs that provide youth with leadership skills in the areas of drug and alcohol abuse prevention, access to healthy food, education equity and philanthropy with an emphasis on civic engagement.
                        </p>
                        <p>
                             Building on the experienced team in the field of institutional building and leadership in governance, through real-world program experiences, YCLI creates curricula and training programs that foster youth development and social change efforts across different nations
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 360px;" src="{% static 'images/ycli.jpg' %}" alt="Paris" class="center">
                </div>
            </div>
        </div>
    </div>
    <!-- mission ends -->


    <!-- core values starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container">
            <div style="text-align: center; color: #2C3E50;">
                    <h5 style="font-size: 12; font-weight: 550;">OUR CORE VALUES</h5>

                    <div style="height: 4px; background-color: #E74C3C; width: 10%; margin: 0 auto; margin-bottom: 22px;"></div>
                </div>
            <div class="row">
                <!-- value starts -->
                <div class="col-md-3">
                    <div style="background-color: #efefef; border: 0.1px solid #154360; border-radius: 3px; padding: 5px; margin: 3px;">
                        <div>
                            <img style="display: block; margin: auto; padding:8px; width: 100%; height: 130px;" src="{% static 'images/ycli.jpg' %}">
                        </div>
                        <div style="text-align: center; color: #2C3E50;">
                            <h6 style="font-size: 12; font-weight: 550;">INCLUSION</h6>
                            <div style="height: 4px; background-color: #E74C3C; width: 25%; margin: 0 auto; margin-bottom: 8px;"></div>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 14px;">
                                Young people are profoundly impacted by policies affecting their communities. <br> YCLI brings youth to the table and works to institutionalize youth voice in the decision-making process.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- value ends -->

                <!-- value starts -->
                <div class="col-md-3">
                    <div style="background-color: #efefef; border: 0.1px solid #154360; border-radius: 3px; padding: 5px; margin: 3px;">
                        <div>
                            <img style="display: block; margin: auto; padding:8px; width: 100%; height: 130px;" src="{% static 'images/ycli.jpg' %}">
                        </div>
                        <div style="text-align: center; color: #2C3E50;">
                            <h6 style="font-size: 12; font-weight: 550;">INOVATION</h6>
                            <div style="height: 4px; background-color: #E74C3C; width: 25%; margin: 0 auto; margin-bottom: 8px;"></div>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 14px;">
                                A wellspring of fresh perspectives and ideas, youth can often see a way forward where adults cannot. YCLI’s youth development strategy encourages youth to identify and implement their own solutions to the issues their communities face.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- value ends -->

                <!-- value starts -->
                <div class="col-md-3">
                    <div style="background-color: #efefef; border: 0.1px solid #154360; border-radius: 3px; padding: 5px; margin: 3px;">
                        <div>
                            <img style="display: block; margin: auto; padding:8px; width: 100%; height: 130px;" src="{% static 'images/ycli.jpg' %}">
                        </div>
                        <div style="text-align: center; color: #2C3E50;">
                            <h6 style="font-size: 12; font-weight: 550;">COMMUNITY</h6>
                            <div style="height: 4px; background-color: #E74C3C; width: 25%; margin: 0 auto; margin-bottom: 8px;"></div>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 14px;">
                                Nobody can do it alone! Through relationship and coalition-building, YCLI feeds the connective tissue within our communities to power our movements with the brilliance, resourcefulness, and wisdom of our partners
                            </p>
                        </div>
                    </div>
                </div>
                <!-- value ends -->

                <!-- value starts -->
                <div class="col-md-3">
                    <div style="background-color: #efefef; border: 0.1px solid #154360; border-radius: 3px; padding: 5px; margin: 3px;">
                        <div>
                            <img style="display: block; margin: auto; padding:8px; width: 100%; height: 130px;" src="{% static 'images/ycli.jpg' %}">
                        </div>
                        <div style="text-align: center; color: #2C3E50;">
                            <h6 style="font-size: 12; font-weight: 550;">SOCIAL JUSTICE</h6>
                            <div style="height: 4px; background-color: #E74C3C; width: 25%; margin: 0 auto; margin-bottom: 8px;"></div>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 14px;">
                                Throughout history, young people have ignited and led social justice movements to create a better world for everyone. YCLI helps them to focus their attention on the root causes of injustice, and sharpen the skills they need to tackle them
                            </p>
                        </div>
                    </div>
                </div>
                <!-- value ends -->
            </div>
        </div>
    </div>
    <!-- core values ends -->
    
</div>

{% endblock %}