{% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6 footer-contact">
            <!-- <img style="height: 38px; width: 245px;" src="{% static 'images/logob.jpeg' %}"> -->
            <p style="text-align: left; font-weight: 900; font-size: 45px;">YCLI</p>
            <br>
            <div style="height: 6px; background-color: #EAF2F8; width: 21%;"></div>
            <br>
            
            <p>
              Building communities where young people and their adult allies come together to create positive social change.
            </p>
            <hr>
            <p>
              Inclusion &nbsp; | &nbsp; Innovation &nbsp; | &nbsp; Community &nbsp; | &nbsp; Social Justice
            </p>
            <!-- <p>
              We seek to contribute to development in Africa through the empowerment of the youth to take over leading roles in good governance and in the democratization process.
            </p> -->
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="border-left-width: 5px; border-left-style: solid; border-left-color: #EAF2F8; padding-left: 25px;">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/about/">About YCLI - Who We Are</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/members/">YCLI Members Directory</a></li>
              
              <li><i class="bx bx-chevron-right"></i> <a href="/events/">YCLI Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/workshops/">YCLI Workshops</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join The Conversation</h4>
            <p>
            Join a network of youths across the globe. It's completely free!
            <a style="text-decoration: none;" href="/accounts/dashboard/"><button type="button" class="btn btn-link active">Join Now</button></a>
          </p>
            <!-- <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
            <br>
            <div class="social-links pt-3 pt-lg-0">
              <a href="https://twitter.com/yclikenya" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://web.facebook.com/Young-Continental-Leadership-Institute-100507748818868" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/yclikenya/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://wa.me/254721952610" class="google-plus"><i class="fa fa-whatsapp"></i></a>
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->