{% extends 'base.html' %}

{% block title %}YCLI | Home{% endblock %}
{% block content %}
{% load static %}


<style type="text/css">
    .demo_wrap {
    position: relative;
    background: #000;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('{% static 'images/ycli4.jpeg' %}');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

</style>

<div class="demo_wrap" style="height: 520px;">
    <h4 style="padding-top: 250px; text-align: center; font-size: 25px; font-family: 'Varela Round'; font-weight: 550; color: #fff;">LET'S TOGETHER RAISE A YOUNG GENERATION THAT <br> SERVES WITH EXCELLENCE, PROTECTING THE FUTURE AND <br>FULFILLING GOD-GIVEN DREAMS</h4>
    <hr>
</div>

<div style="height: 2.3px; background-color: #27AE60;"></div>

<!-- <div class="container">

    <section class="about-us py-5 " id="about-us">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1 class='text-success'>Welcome!</h1>
                    <h2>Know More About Us</h2>
                    <hr>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="btn btn-success">Let's Know More</button>

                </div>
                <div class="col-md-6">
                    <div>
                        <img style="" src="{% static 'images/ycli.jpg' %}" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
</div> -->

<div>
    <!-- background starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">YCLI's Background</h4>
                        <div style="height: 3px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            Young Continental Leadership Institute seeks to build power in communities that have traditionally been marginalized. Policy advocacy considers that the commitment to the beliefs and actions that support youth leadership and youth voice often times requires advocacy for community-level changes.
                        </p>
                        <p>
                            Policy Advocacy shifts power, providing community with the opportunity to change their conditions. When youth and their adult allies are viewed as agents of change and as stakeholders in their communities and also provided with opportunities to lead community change efforts, youth and adult voices are valued in the community and present at decision-making tables. 67% of our youth are low income. We believe that to shift policies and build equitable communities, these voices must be heard.
                        </p>
                        <a href="/about/"><button type="button" class="btn btn-success btn-sm btn-block">Learn More About YCLI <i class="fa fa-hand-o-right"></i></button></a>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 400px;" src="{% static 'images/ycli3.jpeg' %}" alt="Paris" class="center">
                </div>
            </div>
        </div>
    </div>
    <!-- background ends -->

    <!--Fast CTA starts -->
    <div class="" style="background-color: ; padding:70px 0;">
        <div class="container" style="background-color: ;padding: ;">
            <div class="row">
                <!-- CTA starts -->
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli6.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">Our Programs</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            Our activities included are generally oriented towards youth development through capacity building, recreation, social life, prevention, intervention and empowerment.
                        </p>

                        <div style="text-align: center;">
                            <a href="/programs/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
                <!-- CTA starts -->
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli7.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">Our Boardroom</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            This YCLI chat room is a community where youth can feel open to express their free-spirited self in a safe and non-judgemental space.
                        </p>

                        <div style="text-align: center;">
                            <a href="/accounts/dashboard/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
                <!-- CTA starts -->
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli5.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">About Us</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            We connect youths from different backgrounds, regions together through our initiatives and events 
                        </p>

                        <div style="text-align: center;">
                            <a href="/about/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
            </div>
        </div>
    </div>
    <!--Fast CTA ends -->

        <!-- CTA starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container" style="background-color: #f5f5f5; padding: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 25px; font-weight: 700;">Register and Join Conversations</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 18px;">
                            Make your profile seen. Join a network of youths across the<br> globe it's completely free!
                        </p>

                        <div style="text-align: center;">
                            <a href="{% url 'signup' %}"><button type="button" class="btn btn-success">Register Now Free</button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA ends -->
</div>


</div>







<!-- new -->





{% endblock %}