{% extends 'base.html' %}

{% block title %}YCLI | Home{% endblock %}
{% block content %}
{% load static %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to YCLI</h1>
      <h2>Let's together raise a young generation that serves with excellence, protecting the future and fulfilling god-given dreams</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="#" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why Choose YCLI for your ipsum dolor?</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Corporis voluptates sit</h4>
                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Ullamco laboris ladore pan</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Labore consequatur</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
</main>




<div>
    <!-- background starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: left; color: #2C3E50;">
                        <h4 style="font-size: 28; font-weight: 550;">YCLI's Background</h4>
                        <div style="height: 3px; background-color: #E74C3C; width: 25%;margin-bottom: 12px;"></div>
                    </div>
                    <div>
                        <p style="text-align: justify;">
                            Young Continental Leadership Institute seeks to build power in communities that have traditionally been marginalized. Policy advocacy considers that the commitment to the beliefs and actions that support youth leadership and youth voice often times requires advocacy for community-level changes.
                        </p>
                        <p>
                            Policy Advocacy shifts power, providing community with the opportunity to change their conditions. When youth and their adult allies are viewed as agents of change and as stakeholders in their communities and also provided with opportunities to lead community change efforts, youth and adult voices are valued in the community and present at decision-making tables. 67% of our youth are low income. We believe that to shift policies and build equitable communities, these voices must be heard.
                        </p>
                        <a href="/about/"><button type="button" class="btn btn-success btn-sm btn-block">Learn More About YCLI <i class="fa fa-hand-o-right"></i></button></a>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="display: block; margin-left: auto;margin-right: auto;width: 100%; height: 400px;" src="{% static 'images/ycli3.jpeg' %}" alt="Paris" class="center">
                </div>
            </div>
        </div>
    </div>
    <!-- background ends -->

    <!--Fast CTA starts -->
    <div class="" style="background-color: ; padding:70px 0;">
        <div class="container" style="background-color: ;padding: ;">
            <div class="row">
                <!-- CTA starts -->
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli6.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">Our Programs</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            Our activities included are generally oriented towards youth development through capacity building, recreation, social life, prevention, intervention and empowerment.
                        </p>

                        <div style="text-align: center;">
                            <a href="/programs/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
                CTA starts
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli30.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">Our Boardroom</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            This YCLI chat room is a community where youth can feel open to express their free-spirited self in a safe and non-judgemental space.
                        </p>

                        <div style="text-align: center;">
                            <a href="/accounts/dashboard/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
                <!-- CTA starts -->
                <div class="col" style="border: 1px solid #154360; padding: 5px; margin: 10px; border-radius: 5px; background-color: #fff;">
                    <div>
                        <img style="display: block; margin: auto; width: 100%; height: 170px;" src="{% static 'images/ycli5.jpeg' %}">
                    </div>
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 18px; font-weight: 600; padding-top: 15px;">About Us</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 15px;">
                            We connect youths from different backgrounds, regions together through our initiatives and events 
                        </p>

                        <div style="text-align: center;">
                            <a href="/about/"><button type="button" class="btn btn-success btn-sm btn-block">Read More <i class="fa fa-hand-o-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- CTA Ends -->
            </div>
        </div>
    </div>
    <!--Fast CTA ends -->

        <!-- CTA starts -->
    <div class="" style="background-color: #fff; padding:70px 0;">
        <div class="container" style="background-color: #f5f5f5; padding: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center; color: #2C3E50; border-radius: 8px;">
                        <p style="font-size: 25px; font-weight: 700;">Register and Join Conversations</p>
                    </div>
                    <div>
                        <p style="text-align: center; font-size: 18px;">
                            Make your profile seen. Join a network of youths across the<br> globe it's completely free!
                        </p>

                        <div style="text-align: center;">
                            <a href="{% url 'signup' %}"><button type="button" class="btn btn-success">Register Now Free</button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA ends -->
</div>


</div>







<!-- new -->





{% endblock %}