{% load static %}

<style type="text/css">
  
</style>

<div style="">

<div id="google_translate_element"></div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 1px solid #E74C3C;">
    <div class="container" style="padding: 7px;">

      <div class="logo">
          <a href="/"><img src="{% static 'images/ycli.png' %}" style="height: 25px; width: 220px;" alt=""></a>
      </div>

        <!-- <a class="navbar-brand" href="#">Navbar</a> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;
            <li class="nav-item active">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/programs/">Our Programs</a>
            </li>
            <!-- <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/workshops/">Workshops</a>
            </li>
            <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/events/">Events</a>
            </li> -->
            
            <li class="nav-item dropdown">
              <a style="color: #000; font-size: 16px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Media Centre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a style="color: #000; font-size: 16px;" class="dropdown-item" href="/events/">Our Events</a>
                <a style="color: #000; font-size: 16px;" class="dropdown-item" href="/workshops/">Our Workshops</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->

            <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/members/">Members</a>
            </li>

            <li class="nav-item">
              <a style="color: #000; font-size: 16px;" class="nav-link" href="/contact/">Contact Us</a>
            </li>

          </ul>
          
            <a class="nav-link" href="/donate/">
                <button type="button" class="btn btn-outline-secondary btn-sm">Donate</button>
            </a>

          {% if user.is_authenticated %}

            <!--  <li class="nav-item"> -->
              <a class="nav-link" href="{% url 'dashboard' %}">
                <button type="button" class="btn btn-primary btn-sm">DASHBOARD</button>
              </a>
            <!-- </li> -->

            <!-- <li class="nav-item"> -->
              <a class="nav-link" href="{% url 'logout' %}">
                <button type="button" class="btn btn-warning btn-sm">LOG OUT</button>
              </a>
           <!--  </li> -->

            {% else %}

            <!-- <li class="nav-item"> -->
              <a class="nav-link" href="{% url 'login' %}">
                <button type="button" class="btn btn-primary btn-sm">LOG IIN</button>
              </a>
            <!-- </li> -->

            <!-- <li class="nav-item"> -->
              <a class="nav-link" href="{% url 'signup' %}">
                <button type="button" class="btn btn-success btn-sm">REGISTER</button>
              </a>
            <!-- </li> -->

            {% endif %}

            </ul>

        </div>

    </div>

  </nav>

</div>