{% load static %}

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:info@ycli.org">info@ycli.org</a></li>
          <li><i class="icofont-phone"></i>+254 711 602 162</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Fri 9am - 5pm</li>
        </ul>
      </div>
      <div class="cta">
        <a href="/donate/" class="scrollto">DONATE</a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Flexor</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="/"><img src="https://res.cloudinary.com/atgthegeek/image/upload/v1610200578/images/ycli_lbcuic.jpg" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>

          <li><a href="/programs/">Programs</a></li>

          <li class="drop-down"><a href="#">Media</a>
            <ul>
              <li><a href="/events/">Our Events</a></li>
              <li><a href="/workshops/">Our Workshops</a></li>
            </ul>
          </li>
          
          <li><a href="/members/">Members</a></li>
          <li><a href="/contact/">Contact</a></li>

          {% if user.is_authenticated %}

          <!--  <li class="nav-item"> -->
          <li>
            <a class="nav-link" href="{% url 'my-applications' %}">
              <button type="button" class="btn btn-primary btn-sm">DASHBOARD</button>
            </a>
          </li>
          <!-- </li> -->

          <!-- <li class="nav-item"> -->
          <li>
            <a class="nav-link" href="{% url 'logout' %}">
              <button type="button" class="btn btn-warning btn-sm">LOG OUT</button>
            </a>
          </li>
          <!--  </li> -->

        {% else %}

          <!-- <li class="nav-item"> -->
          <li>
            <a class="nav-link" href="{% url 'login' %}">
              <button type="button" class="btn btn-primary btn-sm">LOG IN</button>
            </a>
          </li>
          <!-- </li> -->

          <!-- <li class="nav-item"> -->
          <li>
            <a class="nav-link" href="{% url 'signup' %}">
              <button type="button" class="btn btn-success btn-sm">REGISTER</button>
            </a>
          </li>
          <!-- </li> -->

        {% endif %}

        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->