{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% load static %}


    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Workshops</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Workshops</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <div class="container-fluid" style="margin-top: 70px; margin-bottom: 70px;">

              <div class="row">

                <div class="container">

                    <div class="row">

                        <h4>There are no workshops yet</h4>

                    </div>
     
                </div>

              </div>
          
        </div>


</main>

{% endblock %}
<!-- start -->

